.subMenu {
    height: 46px;
    background-color: #fff;
}

.subMenuBox {
    max-width: 960px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subMenuLeftBox {
    display: flex;
    align-items: center;
}

.subMenuBox a {
    padding: 0 10px;
    font-size: 14px;
    color: #86909c;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.subMenuBox a:first-child {
    padding-left: 0;
}

.subMenuBox a:hover {
    color: #007fff;
    text-decoration: none;
}

.subMenuBox a.linkActive {
    color: #007fff;
}

.subMenuTagPanel {
    max-width: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}